<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Library Management</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="sidebar">
        <h2>Library Management</h2>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="#">Quản lý Sách</a></li>
            <li><a href="#">Quản lý Độc Giả</a></li>
            <li><a href="#">Quản lý Thủ Thư</a></li>
            <li><a href="#">Quản lý Phiếu mượn</a></li>
            <li><a href="#">Báo Cáo</a></li>
        </ul>
    </div>

    <div class="header">
        <h3>@ViewData["Title"]</h3>
        <div>👤 Admin</div>
    </div>

    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
