@model IEnumerable<dynamic>

<h3>👤 Độc giả có sách quá hạn</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã Độc Giả</th>
            <th>Tên Độc Giả</th>
            <th>Số sách quá hạn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.DocGia.MaDocGia</td>
                <td>@d.DocGia.HoTen</td>
                <td>@d.SoSachQuaHan</td>
            </tr>
        }
    </tbody>
</table>
