@{
    ViewData["Title"] = "Báo cáo tổng hợp";
}
<h2>Báo cáo tổng hợp</h2>
<hr />

<ul>
    <li><a asp-action="SachMuonNhieu">📘 Sách được mượn nhiều nhất</a></li>
    <li><a asp-action="SachQuaHan">⏰ Sách quá hạn</a></li>
    <li><a asp-action="DocGiaQuaHan">👤 Độc giả quá hạn</a></li>
    <li><a asp-action="SachTonKho">🏷️ Sách tồn kho</a></li>
</ul>
