<h2 class="text-primary"> Báo cáo tổng hợp</h2>
<ul class="list-group mt-3">
    <li class="list-group-item">
        <a asp-action="SachMuonNhieu">Sách được mượn nhiều nhất</a>
    </li>
    <li class="list-group-item">
        <a asp-action="SachQuaHan">Sách đang quá hạn</a>
    </li>
    <li class="list-group-item">
        <a asp-action="DocGiaQuaHan">Độc giả có sách quá hạn</a>
    </li>
    <li class="list-group-item">
        <a asp-action="TonKho">Thống kê tồn kho</a>
    </li>
</ul>
