<h3>Thống kê tồn kho</h3>
<table class="table table-bordered">
    <tr>
        <th>Tổng số sách</th>
        <td>@ViewBag.TongSoSach</td>
    </tr>
    <tr>
        <th>Đang được mượn</th>
        <td>@ViewBag.DangMuon</td>
    </tr>
    <tr>
        <th>Còn lại trong kho</th>
        <td class="fw-bold text-success">@ViewBag.ConLai</td>
    </tr>
</table>
